.searchContainer {
	display: flex;
	align-items: center;
	margin-bottom: 1rem;
}

.searchBar {
	width: 100%;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 4px 0 0 4px;
}

.searchButton {
	background-color: #ddd;
	border: 1px solid #ddd;
	border-left: none;
	border-radius: 0 4px 4px 0;
	padding: 6px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.searchButton:hover {
	background-color: #ccc;
}

@media (max-width: 768px) {
	.searchContainer {
		flex-direction: column;
	}

	.searchBar,
	.searchButton {
		width: 100%;
		border-radius: 4px;
		margin-bottom: 0.5rem;
	}

	.searchButton {
		border-left: 1px solid #ddd;
	}
}

@media (max-width: 480px) {
	.searchBar {
		padding: 8px;
	}

	.searchButton {
		padding: 5px;
	}
}
