@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@400;700&display=swap");

:root {
	--spsk1Main: #428c78;
	--spsk1Main2: #015f67;
	--spsk1Main3: #666666;
	--spsk1Main4: #0095c3;
	--spsk1Main5: #f2f8f9;
	--spsk1Main6: #0f828b;
	--spsk1Main7: rgba(1, 95, 103, 0.5);
	--spsk1Menu: rgba(0, 147, 159, 0.5);
	--spsk1MainHover: #00939f;
	--spsk1MainHover2: #0086af;
}

* {
	box-sizing: border-box;
}

html {
	font-family: "Open Sans", sans-serif;
	height: 100%;
}

.container {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

body {
	height: 100%;
	margin: 0;
	background: white;
	color: black;
}

.main {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.button {
	width: 200px;
	height: 70px;
	background-color: var(--spsk1Main2);
	color: var(--spsk1Main5);
	margin: 1.5rem;
	border-radius: 5px;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: background-color 0.3s;
}

.button:hover {
	background-color: var(--spsk1Main3);
}

.row-btn {
	flex-direction: row;
}
